@import "~bulma/sass/utilities/initial-variables";

// Customize
$primary: #2D3947;
$link-hover: #00D1B2;

@import "~bulma/bulma.sass";
@import "~bulma-badge/dist/css/bulma-badge.sass";

html,
body {
    font-size: 14px;
}

.talk-card .card-content {
    font-size: 12px;
    padding: 0;
    tbody tr {
        th:nth-child(1) {
            font-weight: normal;
            vertical-align: middle;
        }
        th:nth-child(2) {
            text-align: center;
        }
    }
}